<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <pages enableEventValidation="false" clientIDMode="AutoID" />
    <sessionState timeout="20" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Office.Tools.Excel.v9.0, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Vbe.Interop, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
       <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
  </system.web>
  <system.web>
    <customErrors mode="Off" defaultRedirect="Error.aspx" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <httpRuntime maxRequestLength="1048576" requestValidationMode="2.0" />
  </system.web>
  <connectionStrings>
    <!--dev Connection-->
    <add name="SCPUConn" connectionString="Data Source = (DESCRIPTION = (ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 176.0.0.95)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = hrdev)));Persist Security Info=True;User Id=scpu;Password=scp_79dev;" providerName="System.Data.OracleClient" />
    <add name="MYhrps" connectionString="Data Source = (DESCRIPTION = (ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 176.0.0.95)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = hrdev)));Persist Security Info=True;User Id=hrps;Password=hrps123;Pooling=true;Max Pool Size=500;" providerName="System.Data.OracleClient" />
    <add name="MYhrpsPrd" connectionString="Data Source = (DESCRIPTION = (ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 176.0.0.95)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = hrdev)));Persist Security Info=True;User Id=hrps;Password=hrps123;" providerName="System.Data.OracleClient" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="oraEbuy" connectionString="User ID=sapsur;Data Source= (DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 176.0.0.105)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME=surroundsys)));pwd=procare_123;Pooling=true;connection lifetime=120;Min Pool Size=0;Max Pool Size=80;" />
    <add name="oraEbuyPrd" connectionString="User ID=sapsur;Data Source= (DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 176.0.0.89)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME=mmsrndprd)));pwd=sursap;Pooling=true;connection lifetime=120;Min Pool Size=0;Max Pool Size=80;" />
    <!--prd Connection-->
    <!--<add name="SCPUConn" connectionString="Data Source = (DESCRIPTION = (ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 176.0.0.95)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = hrdev)));Persist Security Info=True;User Id=scpu;Password=sab_12345;" providerName="System.Data.OracleClient"/>
    <add name="MYhrps" connectionString="Data Source = (DESCRIPTION = (ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 176.0.0.95)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = hrdev)));Persist Security Info=True;User Id=hrps;Password=hrps123;" providerName="System.Data.OracleClient"/>

    <add name="MYhrpsPrd" connectionString="Data Source = (DESCRIPTION = (ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 176.0.0.95)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = hrdev)));Persist Security Info=True;User Id=hrps;Password=hrps123;" providerName="System.Data.OracleClient"/>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>

    <add name="oraEbuy" connectionString="User ID=SCPU;Data Source= (DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 176.0.0.95)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME=hrdev)));pwd=sab_12345;Pooling=true;connection lifetime=120;Min Pool Size=0;Max Pool Size=80;"/>
    <add name="oraEbuyPrd" connectionString="User ID=SCPU;Data Source= (DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 176.0.0.95)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME=hrdev)));pwd=sab_12345;Pooling=true;connection lifetime=120;Min Pool Size=0;Max Pool Size=80;"/>
    <add name="oraEbuyPrd1" connectionString="User ID=sapsur;Data Source= (DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 176.0.0.89)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME=mmsrndprd)));pwd=sursap;Pooling=true;connection lifetime=120;Min Pool Size=0;Max Pool Size=80;"/>-->
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="144.0.16.7" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <!--<add value="SCPU001.aspx"/>-->
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <!--<verbs allowUnlisted="true">
       <add verb="OPTIONS" allowed="false"/>
     </verbs>-->
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff " />
        <remove name="Access-Control-Allow-Origin" />
        <add name="Access-Control-Allow-Origin" value="domain" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <add key="UploadFilesMaximumFileSize" value="1024" />
    <add key="FolderPath" value="App_Data/" />
    <add key="sessionTimeOut" value="20" />
    <add key="timeOutWarning" value="15" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml.Framework" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.HashCode" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>